<div class="chart" *ngIf="data">

    <!-- <button (click)="logData()">Log Data</button> -->

    <!-- <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="results"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical> -->

    <!-- Testing Shit -->
    <!-- <ngx-charts-chart
      [view]="[width + legendSpacing, height]"
      [showLegend]="legend"
      [legendOptions]="legendOptions"
      [activeEntries]="activeEntries"
      [animations]="animations"
      (legendLabelClick)="onClick($event)"
      (legendLabelActivate)="onActivate($event)"
      (legendLabelDeactivate)="onDeactivate($event)"
    >
        <svg:g [attr.transform]="transform" class="bar-chart chart">
            <svg:g
            ngx-charts-x-axis
            *ngIf="xAxis"
            [xScale]="xScale"
            [dims]="dims"
            [showLabel]="showXAxisLabel"
            [labelText]="xAxisLabel"
            [tickFormatting]="xAxisTickFormatting"
            (dimensionsChanged)="updateXAxisHeight($event)"
            ></svg:g>
        </svg:g>
    </ngx-charts-chart> -->

    <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="results"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
    </ngx-charts-line-chart>
</div>