<div class="chart" *ngIf="data">

    <!-- <button (click)="logData()">Log Data</button> -->

    <!-- <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="results"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical> -->

    <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="results"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
    </ngx-charts-line-chart>
</div>